<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="pattern_console">
            %d{HH:mm:ss} [%t] %-5level %logger{1} - %msg%n
        </property>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5} - %msg%n
        </property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <RollingFile name="File" fileName="log/log4j2.log" append="true"
                     filePattern="log/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
